* {
  margin: 0;
  padding: 0;
}

body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff8e8e), color-stop(#ff9376), color-stop(#ff9e5a), color-stop(#ffae3b), to(#f0c013));
  background-image: linear-gradient(to right bottom, #ff8e8e, #ff9376, #ff9e5a, #ffae3b, #f0c013);
  width: 100vw;
  height: 100vh;
}

body .popup {
  width: 300px;
  height: 370px;
  border: 1px solid white;
  border-radius: 2%;
  background-color: white;
  position: relative;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  z-index: 9999;
}

body .popup .popup--container {
  width: 100%;
  text-align: left;
}

body .popup--header {
  font-size: 1.5em;
  text-align: center;
  font-family: 'Lobster', cursive;
  margin: 0;
}

body .email, body .password {
  width: 80%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid #939393;
  border-right: 1px solid #939393;
  margin: 1em 0;
}

body .terms--conditions {
  font-size: 0.8em;
  width: 100%;
}

body .submit--button {
  background-color: black;
  color: white;
  font-size: 0,75em;
  height: 3em;
  margin-top: 1.5em;
  width: 95%;
}

body .checkbox--checked {
  background-color: pink;
}

body .success--message, body .btn-main {
  position: absolute;
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  font-weight: 700;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup .popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
  border-radius: 2%;
  background-color: white;
  position: relative;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  z-index: 9999;
}

.popup .popup .popup--container {
  width: 100%;
  text-align: center;
}

.popup h1 {
  font-size: 32px;
  font-family: 'Lobster', cursive;
  text-align: center;
  margin: 20px auto;
}

.popup input[type=email], .popup input[type=password] {
  display: block;
  height: 50px;
  width: 80%;
  margin: 20px auto;
  padding-left: 30px;
  border: 2px solid #000;
}

.popup .customCheckbox {
  font-size: 19px;
  padding-top: 3px;
  display: block;
  position: relative;
  margin: 0 auto;
  width: 91%;
}

.popup label {
  text-align: center;
}

.popup .text {
  padding-left: 35px;
}

.popup input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  bottom: -5px;
  height: 0;
  width: 0;
}

.popup .checkmark {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #000;
}

.popup .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.popup .customCheckbox input:checked ~ .checkmark:after {
  display: block;
}

.popup .customCheckbox .checkmark:after {
  left: 6px;
  top: -3px;
  width: 6px;
  height: 16px;
  border: solid #000;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup button {
  display: block;
  height: 50px;
  width: 85%;
  padding: 20px 0;
  margin: 30px auto 30px;
  border: none;
  color: #FFF;
  background-color: #000;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup button:hover {
  background-color: pink;
}

.popup:target {
  opacity: 1;
  pointer-events: auto;
}

.popup > div {
  width: 350px;
  height: 400px;
  position: relative;
  margin: calc(50vh - 200px) auto;
  padding: 5px 20px 13px 20px;
  border-radius: 8px;
  background: #fff;
}

.close {
  background: white;
  color: #FFFFFF;
  line-height: 17px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -12px;
  width: 30px;
  text-decoration: none;
  border-radius: 50%;
}

.close i {
  color: black;
  font-size: 34px;
  line-height: 30px;
}

.close:hover {
  background-color: white;
}
/*# sourceMappingURL=styles.css.map */