* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff8e8e), color-stop(#ff9376), color-stop(#ff9e5a), color-stop(#ffae3b), to(#f0c013));
  background-image: linear-gradient(to right bottom, #ff8e8e, #ff9376, #ff9e5a, #ffae3b, #f0c013);
  width: 100vw;
  height: 100vh;
}

body .popup {
  width: 200px;
  height: 250px;
  border: 1px solid white;
  border-radius: 2%;
  background-color: red;
  position: relative;
  top: -50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

body .popup .popup--container {
  width: 100%;
  text-align: center;
}

body .popup--header {
  font-size: 1.5em;
  text-align: center;
  font-family: 'Lobster', cursive;
  margin: 0;
}

body .email, body .password {
  padding: 1em;
  width: 80%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid #939393;
  border-right: 1px solid #939393;
  margin: 1em 0;
}

body .terms--conditions {
  font-size: 0.8em;
  width: 100%;
}

body .submit--button {
  background-color: black;
  color: white;
  font-size: 0,75em;
  height: 3em;
  margin-top: 1.5em;
  width: 95%;
}

body .popup:before {
  content: "x";
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1em;
  border-radius: 50%;
  background: black;
  font-weight: 700;
  position: absolute;
  left: 220px;
  top: -10px;
}

body .checkbox--checked {
  background-color: pink;
}

body .success--message, body .btn-main {
  position: absolute;
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  font-weight: 700;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  background-color: red;
  pointer-events: none;
}

.popup h1 {
  font-size: 32px;
  font-family: 'Lobster', cursive;
  text-align: center;
  margin-top: 40px;
}

.popup input[type=email], .popup input[type=password] {
  display: block;
  height: 50px;
  width: 80%;
  margin: 15px auto;
  padding-left: 30px;
  border: 2px solid #000;
}

.popup .customCheckbox {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.popup label {
  display: inline-block;
  width: 90%;
  font-size: 22px;
  text-align: right;
}

.popup input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  bottom: -5px;
  height: 0;
  width: 0;
}

.popup .checkmark {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid #000;
}

.popup .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.popup .customCheckbox input:checked ~ .checkmark:after {
  display: block;
}

.popup .customCheckbox .checkmark:after {
  left: 7px;
  top: 0px;
  width: 8px;
  height: 18px;
  border: solid #000;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup button {
  display: block;
  height: 50px;
  width: 90%;
  margin: 25px auto 0;
  margin-bottom: 40px;
  color: #FFF;
  background-color: #000;
  cursor: pointer;
}

.popup:target {
  opacity: 1;
  pointer-events: auto;
}

.popup > div {
  width: 350px;
  height: 400px;
  position: relative;
  margin: calc(50vh - 200px) auto;
  padding: 5px 20px 13px 20px;
  border-radius: 8px;
  background: #fff;
}

.close {
  background: #000;
  color: #FFFFFF;
  line-height: 28px;
  position: absolute;
  right: -8px;
  text-align: center;
  top: -8px;
  width: 28px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
}

.close:hover {
  background-color: #262626;
}
/*# sourceMappingURL=styles.css.map */