// Here goes your CSS
@import 'layout/main';

.popup {
    .popup { 
  display: flex;
//   width: 250px; 
//   height: 300px; 
  border: 1px solid white;
  border-radius: 2%;
  background-color: white;
  position: relative;
  top: 50vh ;
  left: 50vw;
  transform:translate(-50%, -50%);
   
  flex-direction: column;
  padding: 15px;
  z-index: 9999;
    .popup--container{
      width:100%;
      text-align:center;
    }
  }
    & h1 {
        font-size: 32px;
        font-family: 'Lobster', cursive;
        text-align: center;
        margin: 20px auto;
    }

    & input[type=email],input[type=password] {
        display: block;
        height: 50px;
        width: 80%;
        margin: 20px auto;
        padding-left: 30px;
        border: 2px solid #000;
    }

    & .customCheckbox {
        font-size: 19px;
        padding-top: 3px;
       
        display: block;
        position: relative;
        margin: 0 auto;
        width: 91%;
        
    }

    & label {
        // display: inline-block;
        // width: 90%;
        // font-size: 19px;
        text-align: center;
    }
    & .text{
        padding-left: 35px;
    }

    & input[type=checkbox] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        bottom: -5px;
        height: 0;
        width: 0;
       
    }

    & .checkmark {
        position: absolute;
        display: inline-block;
        cursor: pointer;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 2px solid #000;
        // margin-right: 5px;
    }

    & .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    & .customCheckbox input:checked~.checkmark:after {
        display: block;
    }

    & .customCheckbox .checkmark:after {
        left: 6px;
        top: -3px;
        width: 6px;
        height: 16px;
        border: solid #000;
        border-width: 0 4px 4px 0;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    & button {
        display: block;
        height: 50px;
        width: 90%;
        margin: 40px auto 30px;
        // margin-bottom: 40px;
        border: none;
        color: #FFF;
        background-color: #000;
        cursor: pointer;
        transition: 0.3s;
    }
    & button:hover {
        
        background-color: pink;
        
    }

}

.popup:target {
    opacity: 1;
    pointer-events: auto;
}

.popup>div {
    width: 350px;
    height: 400px;
    position: relative;
    margin: calc(50vh - 200px) auto;
    padding: 5px 20px 13px 20px;
    border-radius: 8px;
    background: #fff;
}
.close {
    background: white;
    color: #FFFFFF;
    line-height: 17px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -12px;
    width: 30px;
    text-decoration: none;
    // font-weight: bold;
    border-radius: 50%;


    i{
        color: black;
        font-size: 34px;
        line-height: 30px;
    }

    &:hover {
        background-color: lighten(white, 15%);
    }


}
